<% @page_title = "Edit Admin User" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="adminuser edit">
	<h2>Edit Admin User</h2>

	<%= form_for(:AdminUser, :url => {:action => 'update', :id => @AdminUser.id}) do |f| %>

		<%= render(:partial => "admin_users_form", :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag("Update Admin User") %>
		</div>

	<% end %>
</div>